.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.show{
    display: block;
}