<html>
    <head>
        <meta charset="utf-8">
        <title>City lookup</title>
        <link rel="stylesheet" href="./style/style.css">
    </head>
    <body>
        <h1>City Selector</h1>

        <select id="count-select">
            <% countries.forEach((country) => { %>
                <option value="<%= country %>"><%= country %></option>
            <% }); %>
        </select>

        <!-- <div class="dropdown">
            <button>Select State</button>
        </div>

        <div class="dropdown">
            <button>Select City</button>
        </div> -->

        <script src="./js/dropdown.js"></script>
    </body>
</html>